// Sizing
$size-s2: 4rem; //64px
$size-s3: 6rem; //96px
$size-s4: 8rem; //128px

$size-m1: 12rem; //192px
$size-m2: 16rem; //256px
$size-m3: 24rem; //384px

$size-l1: 32rem; //512px

// Font sizes
$font-m1: 1.125rem; //18px
$font-m2: 1.5rem; //24px

$font-l1: 2.25rem; //36px
$font-l3: 4.5rem; //72px

//Font Family
$font-barlow: 'Barlow', sans-serif;

//Colors
$red-color: #ff4b4b;
$fluorescent-color: #84f3ec;

// Mixins

// Headers master mixin
@mixin headers ($size, $align: left, $upper: true) {
  font: 800 $size $font-barlow;
  line-height: $size * 1.15;
  text-align: $align;

  @if $upper {
    text-transform: uppercase;
  } @else {
    &::after {
      content: '';
      display: block;
      width: $size-s2/2.5;
      border-top: 4px solid $red-color;

      @if $align == center {
        margin: 10px auto;
      } @else {
        margin-top: 10px;
      }
    }
  }
}

// Title headers
@mixin titles {
  @include headers($font-m2);
  color: $red-color;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  min-height: 100vh;
  font-family: $font-barlow;
  border: 0.5rem solid $red-color;
  border-bottom: 0;
  overflow-y: scroll;
}

#navbarNav {
  .nav-item {
    padding: .5rem 1.5rem;
    font-weight: 800;

    &.active {
      .nav-link {
        color: $red-color;
      }
    }
  }
}

.container-fluid {
  max-width: $size-l1 * 2.5;
}

.logo {
  max-height: $size-s2;
}

.header {
  @include headers($font-l1, left , false);
}

.form-group {
  label {
    font-weight: 800;
  }
}

.highlight {
  font-size: $font-m2;
  line-height: $font-m2 * 1.15;

  &.red {
    color: $red-color;
  }
}

.footer {
  background-color: #000000;
  color: $fluorescent-color;
  overflow: auto;
}

.banner {
  .header {
    @include headers($font-l3, left, false);
  }

  .illustration {
    max-width: $size-l1;
  }
}

.service-thumb {
  transition: all 1s ease;

  &:hover {
    text-decoration: none;
  }

  .illustration {
    max-height: $size-m1;
    margin: 0 auto 1rem;
    display: block;
  }

  .title {
    @include headers($font-m1, center);
  }
}

.service {
  .illustration {
    max-width: $size-m2;
  }

  .description {
    max-width: $size-m3;
    line-height: 1.25rem;

    .title {
      @include titles();
    }
  }
}

.about-us {
  .number {
    @include headers($font-l3);
    color: $red-color;
  }

  .title {
    @include titles();
  }

  .description {
    max-width: $size-l1;
  }

  .illustration {
    max-height: $size-m2;
    max-width: $size-m3;
  }
}

.btn-custom {
  border-radius: 0;
  width: $size-m1;
  font-weight: 800;

  &.btn-black {
    background-color: #000;
    color: $fluorescent-color;
  }

  &.btn-red {
    background-color: $red-color;
    color: #000;
  }
}
